



.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

.container-fluid{
  margin-left: 4%;
  margin-right: 2%;
}

.panel-heading{
  font-size: 1.2em;
}
tr.no-highlight:hover, td.no-highlight:hover{
  color:inherit;
  background-color: inherit;

}


/* th.volume-expando,td.volume-expando{
  width:30px;
} */
th.volume-expando, td.volume-expando{
  box-sizing: content-box; 
  font-size: 20px;
  width: 20px;
}

.fa {
    display: inline;
    /* font-size: 20px; */
}
.fa-caret-up.statusIcon {
    color: green;
}

.fa-caret-down.statusIcon {
    color: red;
}

/* HACK: https://github.com/patternfly/patternfly/issues/75 */
.blank-slate-pf .fa {
    color: #999999;
}

.blank-slate-pf .spinner-lg {
    height: 58px;
    width: 58px;
}
