



.container-fluid {
    margin-top: 0px;
    padding-left: 0px;
}

/* HACK: https://github.com/patternfly/patternfly/issues/75 */
.blank-slate-pf .fa {
    color: #999999;
}

.blank-slate-pf .spinner-lg {
    height: 58px;
    width: 58px;
}

/*Custom*/

.container-fluid.gluster-management{
  margin-left: 4%;
  margin-right: 2%;
}

.panel-heading{
  font-size: 1.2em;
}



 .highlight-ct, .table-hover > tbody > tr.no-highlight:hover > td, .table-hover > tbody > tr.no-highlight:hover > td,
 .highlight-ct, .table-hover > tbody > tr.no-highlight:hover > td, .table-hover > tbody > tr.no-highlight:hover > th
 .highlight-ct, .table-hover > tbody > tr.no-highlight > td, .table-hover > tbody > tr.no-highlight > td,
 .highlight-ct, .table-hover > tbody > tr.no-highlight > td, .table-hover > tbody > tr.no-highlight > th
{
  background-color: #f5f5f5;
}


/* th.volume-expando,td.volume-expando{
  width:30px;
} */
th.volume-expando, td.volume-expando{
  box-sizing: content-box;
  font-size: 20px;
  width: 20px;
}

.fa {
    display: inline;
    /* font-size: 20px; */
}

button.refresh-btn{
  margin-left: 10px;
}

span.action-btn{
  float: inline-end;
}

.modal-body td, .modal-body th{
  padding:8px;
}
.object-modal-btn{
  background-color:#4d525813;
  color: #00659c;
  padding-left: 7px;
  padding-right:7px;
}
